@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Header Style */
header {
  color: white;
  font-weight: bolder;
}
.header {
  background: url("https://media.istockphoto.com/photos/engineer-fixing-motherboard-picture-id1137717326?b=1&k=20&m=1137717326&s=170667a&w=0&h=u-qFZ3VAKTm9BqAx1j8Owp7pDfvzYXePW-rgpgu_HzQ=")
    no-repeat;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 48.82% 100%, 0px 87%);
  position: relative;
  z-index: 2;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(177, 177, 177);
  opacity: 0.45;
  z-index: -1;
}
.header nav {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: space-around;
}
.header nav h1 {
  font-size: 7.8rem;
  color: white;
  font-family: "Bebas Neue", cursive;
}
#pageLinks {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0.5rem;
}
#pageLinks li {
  padding: 0.8rem 1.3rem;
  margin: 0rem 1rem;
  cursor: pointer;
}
#pageLinks li a {
  color: white;
  text-decoration: none;
  transition: font-size 0.2s linear;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: "Bebas Neue", cursive;
}
#pageLinks li a:hover {
  color: orange;
  text-decoration: underline;
  font-size: 3.2rem;
}
.headerContent {
  text-align: center;
  padding: 10rem;
  font-size: 1.8rem;
  font-family: "Lobster", cursive;
}
.headerContent h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
.headerContent h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.headerContent h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ff5400;
  display: inline-block;
}
.headerContent h2 span {
  font-size: 4rem;
  color: #ff5400;
}
.blink {
  font-size: 4rem;
  color: #ff7834;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialMedia a img {
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 3rem;
}

/* Main Content Style */
main,
.section3 {
  margin-top: 5rem;
}
.main h2 {
  font-size: 4rem;
  text-align: center;
}
.section1 {
  margin: 0rem 4rem;
  background-color: rgb(0, 207, 255);
  padding: 1rem;
}
.section1 h3 {
  font-size: 3rem;
  color: #0f07ff;
  margin: 1rem 0rem;
}
.skillName {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.skillRange {
  border: 1px solid black;
  width: 70%;
  height: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  position: relative;
}
.green::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: green;
}
.blue::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: blue;
}
.red::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: red;
}
.yellow::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 65%;
  background-color: yellow;
}
.purple::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: purple;
}
.indigo::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: indigo;
}

.textAboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.textAboutMe p {
  font-size: 2rem;
  width: 80%;
  text-align: justify;
  font-family: "Lobster", cursive;
}
.textAboutMe img {
  border-radius: 50%;
  width: auto;
  height: 15rem;
  margin-right: 2rem;
}

.section4 {
  background-color: rgb(26, 26, 26);
  padding-bottom: 0.5rem;
  color: white;
  margin: 0rem 1rem;
  border-radius: 1.5rem;
}
.section4 h2 {
  background-color: white;
  color: black;
}
.contactMe {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 2rem auto;
}
.contactMe label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.contactMe input {
  width: 98%;
  font-size: 2rem;
  padding: 0.5rem;
}
.contactMe textarea {
  width: 98%;
}
.contactMe button {
  margin: auto;
  margin-top: 2rem;
  font-size: 1.7rem;
  padding: 0.8rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.7rem;
}
.contactMe button:hover {
  background-color: #0d24fb;
}

/* Footer Style */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  height: 8rem;
}
footer p {
  font-size: 2rem;
}
footer .socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socialMedia a img {
  margin-top: 0;
}


/* Media query */
@media screen and (max-width: 860px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 35%;
  }
}
@media screen and (max-width: 460px) {
  #pageLinks {
    display: none;
  }
  #menubar{
    display: block;
  }
  .textAboutMe{
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .contactMe{
    width: 85%;
  }
  footer{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 420px) {
  .header nav #onClickLinks{
    width: 25%;
    right: 3%;
  }
}
@media screen and (max-width: 375px) {
  html{
    font-size: 30%;
  }
}
@media screen and (max-width: 325px) {
  html{
    font-size: 25%;
  }
}


/* For Responsive design */
.menubar {
  display: none;
}
#menubar span {
  display: block;
  width: 3rem;
  height: 0.8rem;
  background-color: white;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

#onClickLinks {
  border: 1px solid black;
  width: 15%;
  background-color: white;
  list-style: none;
  position: absolute;
  top: 12%;
  right: 10%;
  visibility: hidden;
}
#onClickLinks li {
  text-align: center;
}
#onClickLinks li a {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.8rem;
}
#onClickLinks li a:hover {
  color: white;
  background-color: black;
}

/* For Alert */
.success{
  background-color: rgb(147, 236, 147);
  display: none;
}
.success i:hover{
  color: green;
}
.error{
  background-color: rgb(248, 60, 60);
  display: none;
}
.error i:hover{
  color: rgb(207, 0, 0);
}
.main_alert{
  padding: 1rem;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
  margin: 1rem 1rem;
}
.alert_para{
  font-size: 2rem;
  color: black;
}
.main_alert i{
  padding: 0.6rem;
}
.main_alert i:hover {
  cursor: pointer;
  border: 1px solid black;
}